@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  --background: 0, 0%, 96%;

  --foreground: 0, 0%, 9%;
  --muted-foreground: 0, 0%, 7%;

  --primary: 34, 68%, 45%;
  --primary-lighter: 33, 68%, 28%;
  --primary-hover-background: 34, 58%, 83%;

  --container-background: 0, 0%, 93%;
  --container-border: 0, 0%, 84%;
  --container-inner-item-background: 0, 0%, 89%;

  --radius: 0.5rem;
}
.dark {
  --background: 0, 0%, 9%;

  --foreground: 0, 0%, 96%;
  --muted-foreground: 0, 0%, 76%;

  --primary: 34, 68%, 53%;
  --primary-lighter: 34, 90%, 81%;
  --primary-hover-background: 35, 23%, 15%;

  --container-background: 0, 0%, 11%;
  --container-border: 0, 0%, 18%;
  --container-inner-item-background: 0, 0%, 14%;
}

@theme {
  --font-*: initial;
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-background: hsl(var(--background));

  --color-foreground: hsl(var(--foreground));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-hover-background: hsl(var(--primary-hover-background));
  --color-primary-lighter: hsl(var(--primary-lighter));

  --color-container-background: hsl(var(--container-background));
  --color-container-border: hsl(var(--container-border));
  --color-container-inner-item-background: hsl(var(--container-inner-item-background));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

* {
  @apply border-container-border font-sans outline-primary/50 scroll-smooth;
}
body {
  @apply bg-background text-foreground text-sm min-w-[350px] m-0 p-0 min-h-dvh overflow-x-auto;
}

@layer components {
  article {
    @apply text-[0.965rem] leading-relaxed flex flex-col items-start justify-start gap-4 [&>*]:w-full;
  }
  article a {
    @apply text-primary hover:text-primary-lighter transition-colors;
  }
  article h1 {
    @apply text-3xl font-medium tracking-tight [&_a]:text-foreground [&_a]:no-underline;
  }
  article h2 {
    @apply text-2xl font-medium tracking-tight [&_a]:text-foreground [&_a]:no-underline mt-4 border-b pb-2;
  }
  article h3 {
    @apply text-lg font-medium tracking-tight [&_a]:text-foreground [&_a]:no-underline mt-4;
  }
  article h4 {
    @apply font-medium tracking-tight [&_a]:text-foreground [&_a]:no-underline mt-4;
  }
  article p {
    @apply m-0 p-0 text-pretty dark:text-muted-foreground;
  }
  article ul {
    @apply list-[square] px-6;
  }
  article ol {
    @apply list-decimal px-6;
  }
  article ol,
  article ul {
    @apply flex flex-col items-start justify-start gap-1;
  }
  article ul li,
  article ol li {
    @apply text-muted-foreground marker:text-foreground [&_strong]:text-foreground [&_strong]:font-medium;
  }
  article ul li > div,
  article ol li > div {
    @apply flex flex-col items-start justify-start gap-2;
  }
  article blockquote {
    @apply border border-l-[0.4rem] bg-container-background rounded-md p-3;
  }
}
